<div class="post-item">
    <a href=" <%= post.postId  %> ">
        <h2>
            <%= post.title %>
        </h2>
    </a>
    <p> 
        date added <%= post.dateAdded %>
    </p>
    <div>
        tags
        <% post.tags.forEach((tag) => { %>
            <span>
                <%= tag.tagName %>
            </span>
        <% }); %>
    </div>

    <p>
        summary <%= post.summary %>
    </p> 
</div>
