<div class="post-item">
    <a class="post-item-title" href=" <%= `/post/${post.postId}`  %> ">
        <h2>
            <%= post.title %>
        </h2>
    </a>
    <span class="post-item-date"> 
         <%= post.dateAdded %>
    </span>
    <span class="post-item-taglist">
        <% post.tags.forEach((tag) => { %>
            <a class="post-taglist-tag" href="<%= `/tag/${tag.tagId}` %>">
                <%= tag.tagName %>
            </a>
        <% }); %>
        </span>

    <p class="post-item-summary">
        <%= post.summary %>
    </p> 
</div>
